.paragraph-home{  
    width: 100%;
    margin: auto;
    margin-top: 4%;
    background-color: oldlace;
    height: 500px;
    padding: 5px;  
    align-content: center;
    color: #4c4a37; 
    font-family: 'Source Sans Pro', sans-serif; font-size: 18px; line-height: 32px; 
    }